* {
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    padding: 8px;
}
body{
    margin: 0;
}
header{
    padding: 50px;
    text-align: center;
    background-color: rgb(45, 31, 231); 
}

.container{
    background-color: rgb(201, 223, 241);
    padding: 5px 20px 15px 20px;
   border: 1px solidl rgb(133, 141, 150) ;
   border-radius: 4px;
}
input [type="text"],
input [type="email"],
input [type="number"],
input [type="password"],
input [type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid coral;
    border-radius: 5px;
    margin: 10px;
}

fieldset{
    background-color: aquamarine ;
    border: 1px solid rebeccapurple;

}

.main_heading {
    text-align: center;
}

input[type="submit"] {
    background-color: aqua;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: red;
}


   
    
